__pycache__/
*.egg-info/
data/
build/
.vscode/
*.mcap
*.bson
*.json
*.txt
*.log
test.py
airbot_logs/
# hydra outputs
outputs/
multirun/
dist/
*.mp4
*.jpg
third_party/
aao_configs
AGENTS.md
claude.md
# pixi environments
.pixi/*
!.pixi/config.toml
.cache/
